p {
  font-family: roboto;
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
}
.cat-flexbox {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
}
.profile-pic-box {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}
.info {
  width: 200px;
}
.name {
  font-weight: bold;
}
.description, .status {
  color: grey;
}
.status {

}
.follow-button-box {
  width: 100px;
}
.follow-button {
  background-color: rgb(63, 144, 219);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
}